@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 200ms;
}

html,
body {
  font-family: "Rubik", sans-serif;
}

@layer components{
  .text-shadow-hero-blog {
    text-shadow: 3px 2px 0px rgb(255 255 255 / 100%)
  }

  .text-shadow-hero-blog-dark {
     text-shadow: 3px 3px 0px rgba(40,0,246,0.5);
  }
}
